@{
    ViewData["Title"] = "Travel Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
@model GummyBearKingdom.Models.Product

<div class="white">

    <h2>Edit</h2>
    <hr />
    <h4>Edit this Candy: @Html.DisplayFor(model => model.Name)</h4>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.ProductId)

        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)

        @Html.LabelFor(model => model.Origin)
        @Html.EditorFor(model => model.Origin)

        @Html.LabelFor(model => model.Cost)
        @Html.EditorFor(model => model.Cost)

        <input type="submit" value="Save" class="btn btn-default" />
    }
    @Html.ActionLink("Back to List", "Index")

    </div>
